body {
    background-image: url("home_img.png");
    background-size: 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 50px;
    background-color: #3D5A73;
}

.text_box {
    position: absolute;
    top: 150px;
    left: 20px;
    padding-left: 70px;
    padding-right: 20px;
    font-family: DS Sans ;
  }



.container a {
    text-decoration: none;
    color:white;
    font-family: DM Sans;
    font-size: xx-large;
    

}

.CS, .RR, .PR {
    margin-top: 20px;
}
  